# Importing data to pandas

### Importing via weblink (tables)

In [1]:
import pandas as pd
import ssl
line = "============================================================================================"

In [13]:
#verify my end to pull the data from the source 
ssl._create_default_https_context = ssl._create_unverified_context

#loading the wikipedia webpage into the dataframe
data_tables = pd.read_html(input("Please write the full link of your data webpage source:\n"))

Please write the full link of your data webpage source:
https://pbpython.com/pandas-html-table.html

In [18]:
#Extract the table in the webpage
table_number = int(input("Please enter the table number (you can find it in the source page):\n"))
the_table = data_tables[table_number]

#display the shape of the dataframe to get the rows count
print(line)
print("the Data Frame shape is : ", the_table.shape)
print(line)

#overview for the table 
the_table.head()

Please enter the table number (you can find it in the source page):
2
============================================================================================
the Data Frame shape is :  (5, 10)
============================================================================================

,Unnamed: 0,Year,Nominal GDP(in bil. US-Dollar),GDP per capita(in US-Dollar),GDP growth(real),Inflation rate(in percent),Unemployment (in percent),Budget balance(in % of GDP)[107],Government debt held by public(in % of GDP)[108],Current account balance(in % of GDP)
0,0,2020,20234.0,57589,-5.9,0.62,11.1,NaN,79.9,NaN
1,1,2019,21439.0,64674,2.2,1.80,3.5,-4.6,78.9,-2.5
2,2,2018,20580.2,62869,3.0,2.40,3.9,-3.8,77.8,-2.4
3,3,2017,19519.4,60000,2.3,2.10,4.4,-3.4,76.1,-2.3
4,4,2016,18715.0,57878,1.7,1.30,4.9,-3.1,76.4,-2.3

In [12]:
#Save your datafarm table to CSV file
try:
    the_table.to_csv(input(r"Please write the csv file name that want to save (filename.csv): "), index = False)
    print(line)
    print("The file has been successfully saved :)")
except:
    print("Something went wrong while saving the csv file!")

Please write the csv file name that want to save (filename.csv): uk_cities.csv
============================================================================================
The file has been successfully saved :)